[Oo]bj/
*.suo
*.pdb
*.application
*.manifest
*.user
*.bak
bin/log/*.*
bin/out/*.*
bin/Debug/*.*
bin/Release/*.*
doc/.DS_Store
client/designevaluator/designevaluator/bin/Debug/
client/designevaluator/designevaluator/bin/designevaluator.vshost.exe.config
client/designevaluator/designevaluator/bin/designevaluator.vshost.exe
client/FunctionLayer/bin/
client/PhysicalLayer/bin/
client/designevaluator/designevaluator/bin/MySql.Data.xml
client/designevaluator/designevaluator/bin/designevaluator.exe.config
client/bin/designevaluator.vshost.exe.config
client/bin/designevaluator.exe.config
client/bin/MySql.Data.xml
client/bin/log/
client/bin/designevaluator.vshost.exe
client/bin/designevaluator.exe
client/bin/PhysicalLayer.dll
client/bin/MySql.Data.dll
client/bin/FunctionLayer.dll
client/bin/Newtonsoft.Json.dll
publish/log/
client/bin/out/r.pdf
client/designevaluator/packages/
client/bin/
/client/designevaluator/.vs/designevaluator/v16/Server/sqlite3
.vs/IPsPing/v16/Server/sqlite3/db.lock
.vs/IPsPing/v16/Server/sqlite3/storage.ide
.vs/IPsPing/v16/Server/sqlite3/storage.ide-shm
.vs/IPsPing/v16/Server/sqlite3/storage.ide-wal
